<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script

</head>


<body>
  <div class="container-fluid">

<h1></h1>


<h1>Please enter your password</h1>
<p><h1>To gain access to the Server</h1></p>

<form action="/mainframe" method="POST">
  <input type="text" name="password">
  <input type="submit" value="Press the Button">
</form>




<p> NOTE: Three failures will alert the authorities</p>
</div>
</body>
</html>
